* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(/img/background.jpg);
    background-size: 100vw 100vh;
}

.task-bar {
    background-color: rgba(73, 81, 81, 0.75);
    width: 80vw;
    height: 5vh;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    border: 1px solid rgb(85, 150, 211);
}

.terminal {
    margin: 12px;
    color: rgb(176, 74, 219);
    scale: 1.3;
}

.terminal:hover {
    cursor: pointer;
    scale: 1.5;

}



.promt {
    display: none;
    background-color: rgb(0, 0, 0,.65);
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 10%;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.5s, display 0.5s, width 0.3s, height 0.3s;
    border: 3px solid mediumorchid;
    backdrop-filter: blur(5px);
}

.top-promt {
    display: flex;
    border-bottom: 1px solid rgb(55, 57, 55);
}

#circle-red {
    background-color: #ff0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 12px;
    transition: transform 0.3s;
}

#circle-yellow {
    background-color: #ffe100;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 12px;
    transition: transform 0.3s;
}

#circle-green {
    background-color: #09940e;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 12px;
    transition: transform 0.3s;
}

.circle:hover {
    cursor: pointer;
    transform: scale(1.3); 
}

.container-input-promt {
    background-color:rgb(244, 140, 22) ;
    color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: inline;
    margin: 12PX;
    margin-right: 2px;
        
}

.body-promt input {
    all: unset ;
    caret-color: #fff;
    width: 60%;
    font-size: large;
    color: white;
    margin-left: 5px;
    
}

#response-promt-home-ls {
    display: none;
    width: 100%;
    height: 89%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-wrap: wrap;
    
}

#response-promt-proyects-ls {
    display: none;
    width: 100%;
    height: 89%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-wrap: wrap;
}

.item-proyects {
    display: flex;
    align-items: center;
    justify-items: center;
    height: fit-content;
    color: rgb(255, 0, 0);

}

.folder-proyects {
    display: flex;
    align-items: center;
    justify-items: center;
    height: fit-content;
    color: rgb(0, 255, 102);
}

.aboutme-promt {
    display: flex;
    align-items: center;
    justify-items: center;
    height: fit-content;
    color: rgb(149, 0, 255);
}

.skills-promt {
    display: flex;
    align-items: center;
    justify-items: center;
    height: fit-content;
    color: rgb(0, 110, 255);

}

span {
    margin: 12PX;
}


.prueba {
background-color: #000;
display: flex;
}

#todolist {
    background-color: #000000a7;
    width: 50%;
    height: 80%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    backdrop-filter: blur(2px);
}

.img-todolist {
    width: 100%;
    
}

.css-icon {
    color: white;
    scale: 1.9;
    margin: 12px;
    transition: scale 0.5s;
}

.python-icon {
    margin: 12px;
    color: #fff;
    scale: 1.9;
    transition: scale 0.5s;
}

.python-icon:hover {
    color: #ffe100;
    scale: 2.1;
}

.css-icon:hover {
    color: #304ef6;
    scale: 2.1;
}

.html-icon {
    margin: 12px;
    color: #fff;
    scale: 1.9;
    transition: scale 0.5s;
}

.html-icon:hover {
    color: #ff5e00;
    scale: 2.1;
}

.tecno-use {
    display: flex;
    justify-content: center;
    width: 100%;
}